.container{
    width: 640px;
    margin: auto;
    margin-top: 150px;
    background: white;
    color: #262626;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding: 40px 50px;
}

.container hr{
   height: 2px;
   border: none;
   background: #707070;
}

.container h2{
   font-size: 27px;
   font-weight: 500;
}
.container ul li{
    display: flex;
    align-items: center;
    height: 70px;
    padding-left: 15px;
    border: 1px solid #686868;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 20px;
    cursor: pointer;
}

.container button{
   margin: auto;
   width: 250px;
   height: 65px;
   background: #553f9a;
   color: #fff;
   font-size: 25px;
   font-weight: 500;
   border-radius: 8px;
   cursor: pointer;
}
.container .index {
   margin: auto;
   font-size: 18px;
}
.container .correct{
   background: #dffff2;
   border-color: #00d397;
}
.container .wrong{ 
   background: #FFEBEB;
   border-color: #FF4A4A
}

.highlight {
   background-color: lightblue;
   border: 2px solid blue;
}

.navigation {
   display: flex;
   justify-content: center; /* Horizontally centers the buttons */
   align-items: center;    /* Vertically centers if there's height */
   gap: 1rem;              /* Adds spacing between buttons */
   margin-top: 2rem;       /* Adds some space above the buttons */
}

button {
   padding: 0.5rem 1rem;
   font-size: 1rem;
   cursor: pointer;
   border: 1px solid #ccc;
   border-radius: 5px;
   background-color: #f4f4f4;
   transition: background-color 0.3s ease;
}

button:hover {
   background-color: #ddd;
}



